<app-bread-crumb
  [items]="[{text: 'Countries'}]"
></app-bread-crumb>

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <h5 class="p-m-0">Countries</h5>
        </ng-template>

        <ng-template pTemplate="right">

            <span class="p-input-icon-right">
                <i class="pi pi-search "></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Pesquisar..." />
            </span>

            <th style="width: 1rem"></th>
            <button pButton pRipple label="Cadastrar" icon="pi pi-plus" class="p-button-success p-mr-2" routerLink="new"></button>

            <th style="width: 1rem"></th>                    
            <button pButton pRipple label="Delete Vários" title="Exclui Vários Registros Marcados no CheckBox!" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedResources()" [disabled]="!selectedResources || !selectedResources.length"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="resources" [rows]="5" [rowsPerPageOptions]="[5,10,20,30,100]" [paginator]="true" [globalFilterFields]="['id','name','code']" [(selection)]="selectedResources" [rowHover]="true" dataKey="id" currentPageReportTemplate="Exib. de {first} até {last}" [showCurrentPageReport]="true">
        
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <!--p-tableHeaderCheckbox></p-tableHeaderCheckbox-->
                </th>
                <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="code">Code <p-sortIcon field="code"></p-sortIcon></th>
                <th>Ações</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-resource>
            <tr>
                <td>
                    <p-tableCheckbox [value]="resource"></p-tableCheckbox>
                </td>
                <td>{{resource.id}}</td>
                <td>{{resource.name}}</td>
                <td>{{resource.code}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-user" class="p-button-rounded p-button-info p-button-text p-mr-2" [routerLink]="[resource.id, 'edit']"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-text" (click)="deleteResource(resource)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                Total de {{resources ? resources.length : 0 }} Registros.
            </div>
        </ng-template>
    </p-table>
    
</div>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
